<!DOCTYPE html>
{% load i18n %}{% load staticfiles %}{% load base_extras %}
<!--
Resumator v{% get_version %} | MIT License | https://github.com/AmmsA/resumator
Author: Mustafa S
Email: AmmsA@users.noreply.github.com
-->
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>{% block title %}{{ resumator_basicinformation.name }}{% endblock %}</title>
    <meta name="description"
          content="{% block metadescription %}resumator page of {{ resumator_basicinformation.name }} containing personal projects and experiences{% endblock %}">
    <meta name="author" content="{% block metaauthor %}{{ resumator_basicinformation.name }}{% endblock %}">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet" type="text/css">
    {% block extrafonts %}{% endblock %}

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{% static "resumator/css/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "resumator/css/skeleton.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover-min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "resumator/css/base.css" %}">
    {% block extrastyles %}{% endblock %}

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static "resumator/img/favicon.png" %}">
    {% block blockbots %}
    <meta name="robots" content="nocache,noarchive,noimageindex"/>
    {% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div class="row whole-content" >
            <div class="four columns side-line side-bar">
                <div class="thumbnail">
                    {% if resumator_basicinformation.image != None %}
                    <div class="row">
                        <div class="eleven columns">
                            <img class="thumbnail-container img-circle"
                                 src="/{{ MEDIA_URL }}{{ resumator_basicinformation.image }}">
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="eleven columns"><h4>{{ resumator_basicinformation.name }}</h4></div>
                    </div>
                </div>
                {% if resumator_basicinformation.short_bio != None %}
                <div class="side-bar-bio row">
                    <div class="eleven columns">{{ resumator_basicinformation.short_bio }}</div>
                </div>
                {% endif %}
                <div class="side-bar-items">
                    <a href="/">
                        <div class="row side-bar-item hvr-grow">
                            <div class="two columns side-bar-icon"><span class="lnr lnr-mustache"></span></div>
                            <div class="nine columns">About</div>
                        </div>
                    </a>
                    {% if resumator_education %}
                    <a href="/education">
                        <div class="row side-bar-item hvr-grow">
                            <div class="two columns side-bar-icon"><span class="lnr lnr-graduation-hat"></span></div>
                            <div class="nine columns">Education</div>
                        </div>
                    </a>
                    <a href="/">
                    {% endif %}
                    {% if resumator_project %}
                    <a href="/projects">
                        <div class="row side-bar-item hvr-grow">
                            <div class="two columns side-bar-icon"><span class="lnr lnr-code"></span></div>
                            <div class="nine columns">Projects</div>
                        </div>
                    </a>
                    {% endif %}
                    {% if resumator_experience %}
                    <a href="/experience">
                        <div class="row side-bar-item hvr-grow">
                            <div class="two columns side-bar-icon"><span class="lnr lnr-briefcase"></span></div>
                            <div class="nine columns">Experience</div>
                        </div>
                    </a>
                    {% endif %}
                    {% if resumator_publication %}
                    <a href="/publications">
                        <div class="row side-bar-item hvr-grow">
                            <div class="two columns side-bar-icon"><span class="lnr lnr-layers"></span></div>
                            <div class="nine columns">Publications</div>
                        </div>
                    </a>
                    {% endif %}
                    {% if resumator_basicinformation.email != None or resumator_basicinformation.github != None or resumator_basicinformation.linkedin != None%}
                    <div class="side-bar-links">
                        <a href="mailto:{{ resumator_basicinformation.email }}">
                            <div class="row side-bar-item hvr-grow">
                                <div class="two columns side-bar-icon"><span class="lnr lnr-envelope"></span></div>
                                <div class="nine columns">Email</div>
                            </div>
                        </a>
                        <a href="{{ resumator_basicinformation.github }}">
                            <div class="row side-bar-item hvr-grow">
                                <div class="two columns side-bar-icon"><span class="lnr lnr-link"></span></div>
                                <div class="nine columns">Github</div>
                            </div>
                        </a>
                        {% if resumator_basicinformation.linkedin != None %}
                        <a href="{{ resumator_basicinformation.linkedin}}">
                            <div class="row side-bar-item hvr-grow">
                                <div class="two columns side-bar-icon"><span class="lnr lnr-link"></span></div>
                                <div class="nine columns">LinkedIn</div>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% block extrasidebar %}{% endblock %}
            </div>
            <div class="eight columns content">
                {% block extracontent %}
                <h5>Main content</h5>
                <p>
                   This is where the main content of the website goes. If you need some help, please go to
                    <a href="https://github.com/AmmsA/resumator">resumator github page</a>.
                </p>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% block extrabody %}{% endblock %}
</body>
</html>