{% extends "resumator/base.html" %}
{% load staticfiles %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static "resumator/css/resumator-education.css" %}">{% endblock %}
{% block extrafonts %}<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>{% endblock %}

{% block title %}{{ bas }}{% endblock %}

{% block extracontent %}
                <h5>Education</h5>
                {% for education in resumator_education %}
                <div class="row resumator-education">
                    <div class="ten columns">
                        <div class="row">
                            <div class="seven columns limit"><b>{{ education.name }}</b></div>
                            <div class="five columns date right-text">
                                {% if education.start_date and not education.end_date%}{{ education.start_date }} - <i>Today</i>
                                {% elif education.start_date and education.end_date%}{{ education.start_date }} - {{ education.end_date }}
                                {% elif education.end_date and not education.start_date%}{{ education.end_date }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row description">
                             <div class="seven columns">{{ education }}</div>
                            {% if education.gpa %}
                            <div class="five columns number right-text"> GPA: {{ education.gpa }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
{% endblock %}