{% extends "resumator/base.html" %}
{% load projects_extras %}
{% load staticfiles %}
{% block extrastyles %}<link rel="stylesheet" type="text/css" href="{% static "resumator/css/resumator-projects.css" %}">{% endblock %}
{% block extrafonts %}<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>{% endblock %}

{% block title %}{{ resumator_basicinformation.name }} - Projects{% endblock %}

{% block extracontent %}
                <h5>Projects</h5>
                {% for project in resumator_project %}
                <div class="row resumator-project">
                    {% if project.link %}<a href="{{ project.link }}">{% endif %}
                        <div class="eleven columns">
                            <div class="row">
                                <div class="seven columns limit"><b>{{ project }}</b></div>
                                <div class="five columns date right-text">
                                    {% if project.start_date and not project.end_date%}{{ project.start_date }} - <i>Ongoing</i>
                                    {% elif project.start_date and project.end_date%}{{ project.start_date }} - {{ project.end_date }}
                                    {% elif project.end_date and not project.start_date%}{{ project.end_date }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                {% with used_languages|get_item:project as project_used_languages %}
                                {% if project_used_languages %}
                                <div class="twelve columns tags">
                                    {% for language in project_used_languages %}
                                    <span class="tag">{{ language }}</span>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="row">
                                <div class="twelve columns description">{% spaceless %}<p>{{ project.description }}{% endspaceless %}</p></div>
                            </div>
                        </div>
                    {% if project.link %}</a>{% endif %}
                </div>
                {% endfor %}
{% endblock %}